{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Test SibDev</title>
</head>
<body>
    <div class="result">
        {% for result in result_parse %}
            <div>
                <textarea rows="6" cols="60" disabled>{{ result.work_report }}</textarea>
                <textarea rows="6" cols="60" disabled>{{ result.result }}</textarea>
            </div>
        {% endfor %}
    </div>

    <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>

	<script>
        $(function () {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/ws/connect/";
            console.log("Connecting to " + ws_path);

            var socket = new WebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                console.log("Got websocket message " + message.data);

                var data = JSON.parse(message.data)["message"]["message"];

                $('.result').append(`
                    <div>
                        <textarea rows="6" cols="60" disabled>${data['work_report']}</textarea>
                        <textarea rows="6" cols="60" disabled>${data['result']}</textarea>
                    </div>
                `);
            };

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
</body>
</html>
